body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation{
    background-color: #ffb649;
    font-weight: bolder;
    color: aliceblue; 
    border-radius: 14px;
}

.navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    padding: 20px;
    border-radius: 14px;
}

.navigation ul li{
    float: right;
} 

.navigation ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation p{
    display: block;
    text-align: center;
    float: left;
    text-decoration: none;
    margin: 10px;
}

.navigation ul li a:hover{
    color: rgb(219, 255, 182);
}

/* Banner */
.container{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border-radius: 14px;
    margin: 60px;
}

.photo img{
    width: 100%;
    height: auto;
    border-radius: 14px;
}

/* About us */

.Aboutus-class{
    background-color: #ffb649;
    padding: 40px;
    color: rgb(255, 255, 255);
    border-radius: 14px;
    margin-top: 30px;
    margin: 60px;
}

/* Registation */

.Registration{
    background-color: #067e2e;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 14px;
    margin-top: 30px;
    margin-bottom: 200px;
    margin: 60px;
}

.Registration input{
    border-radius: 6px;
    border: 2px solid #067e2e;
    width: 200px;
    height: 20px;
}

.Registration input:hover{
    border:2px solid #6cff9d ;
}

.Registration button{
    background-color: #ffb649;
    height: 40px;
    width: 80px;
    border: 2px;
    border-radius: 5px;
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
    transition: width 0.2s, height 0.2s;
    
}

.Registration button:hover{
    background-color: #fac77a;
    width: 100px;
    height: 50px;
    
}

footer{
    background-color: #fac77a;
    padding: 60px;
    color: aliceblue;
}
